# Build output
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
/vendor/

# Logs and temporary files
*.log
*.tmp
*.bak
*.old
*.orig

# OS files
.DS_Store
Thumbs.db

# Editors and IDEs
.vscode/
.idea/
*.swp

# Archives
*.tar

